:host {
    padding: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        background-color: #c2185b;
        padding: 2%;
        text-align: center;

        .full-width {
            width: 100%;
        }
    }

    mat-panel-description {
        font-size: 90%;
    }

    table {
        width: 105%;

        .hideTableRow {
            display: none;
        }
    }
}