<mat-toolbar>
  <button
    (click)="drawer.toggle()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>

 <span>{{ title }}</span>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="over" closed>
    
    <mat-nav-list>
      <a mat-list-item routerLink="entry" (click)="drawer.toggle()"><mat-icon matListIcon>note_add</mat-icon>Add Evaluation</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="list" (click)="drawer.toggle()"><mat-icon matListIcon>track_changes</mat-icon>My Evaluations</a>
      <a mat-list-item routerLink="done" (click)="drawer.toggle()"><mat-icon matListIcon>done_outline</mat-icon>Completed</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="about" (click)="drawer.toggle()"><mat-icon matListIcon>info</mat-icon>About</a>
    </mat-nav-list>

  </mat-drawer>

  <mat-drawer-content>
    <router-outlet (activate)="changeTitle($event.pageTitle)"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>